[submodule "journal"]
	path = journal
	url = git@github.com:ddubl/vault
	branch = journal
[submodule "task"]
	path = task
	url = git@github.com:ddubl/vault
	branch = task
[submodule "stream"]
	path = stream
	url = git@github.com:ddubl/vault
	branch = stream
